<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">
          <span style="font-family: 'Jeju Hallasan', cursive; font-size: larger">쪼개기</span>
          &nbsp;
          Korean Vocabulary Parser-Formatter
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li class="navbar-right">
        <a href="https://github.com/ryanbrainard/jjogaegi" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Help & Source</a>
      </li>
    </ul>
  </div>
</nav>
